.content-wrapper {
    margin: 20px auto;
    max-width: 1200px;
  }
  
  .carousel-caption {
    color: var(--theme-text-color);
    font-family: var(--theme-font-family);
    font-size: 1.2rem;
  }
  
  header {
    background-color: black;
    margin: 0;
    padding: 0;
  }
  
  ..carousel-inner {
    max-height: 30vh; 
    overflow: hidden;
  }
  
  .carousel-inner img {
    width: 100%;
    height: auto; 
    object-fit: contain; 
  }
  